<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">

    <!-- Test suites -->
    <testsuites>
        <testsuite name="Balerocms Test Suite">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>

    <!-- Archivos de source para cobertura -->
    <source>
        <include>
            <directory suffix=".php">Framework</directory>
            <directory suffix=".php">App</directory>
        </include>
        <exclude>
            <directory suffix=".php">vendor</directory>
            <directory suffix=".php">Tests</directory>
        </exclude>
    </source>

    <!-- Cobertura -->
    <coverage>
        <report>
            <!-- Genera reporte Clover -->
            <clover outputFile="build/clover.xml"/>
            <!-- Opcional: también puedes agregar HTML -->
            <html outputDirectory="build/coverage-html"/>
        </report>
    </coverage>

</phpunit>