<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="no-cache, no-store, must-revalidate" http-equiv="cache-control"/>
    <meta content="0" http-equiv="expires"/>
    <meta content="no-cache" http-equiv="pragma"/>

    <title>Login</title>
    <base href="{basepath}">
    <link href="favicon.ico" rel="shortcut icon">

    <link href="assets/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/vendor/all.min.css" rel="stylesheet">
    <link href="assets/css/notification.css" rel="stylesheet">
    <link href="assets/css/login.css" rel="stylesheet">

    <script src="assets/js/vendor/vue.global.prod.js"></script>

</head>
<body class="bg-light" style="min-height:100vh; padding-top:50px;">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">

            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <img class="logo img-fluid" src="assets/images/admin/logo.png" style="max-height:80px;">
                </div>
                <div class="card-body">

                    <!-- Render Contenedor de notificaciones -->                    <div id="notifications" class="alerts-container"></div>
                    <form action="./login" method="POST">
                        <div class="mb-3">
                            <input class="form-control" id="username" name="usr" placeholder="{login.username}"
                                   type="text">
                        </div>

                        <div class="mb-3">
                            <input class="form-control" id="password" name="pwd" placeholder="{login.password}"
                                   type="password">
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-primary" name="login" type="submit">
                                <i class="fas fa-sign-in-alt"></i> {login.submit}
                            </button>
                        </div>
                    </form>

                </div>

                <div class="card-footer text-center small">
                    <a href="./">{login.back}</a>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- Notification Loader / Definition -->
<%-- @if login_error -->
<div id="server-alerts" style="display: none;">
    <div data-id="login_error"
         data-type="danger"
         data-icon="fas fa-exclamation-triangle"
         data-message="{login_error}"
         data-key="login_error"
         data-dismissible="true">
    </div>
</div>
<%-- @endif -->

<!-- Módulos independientes -->
<script type="module" src="assets/js/notification.js"></script>
<script type="module" src="assets/js/login.js"></script>

</body>
</html>