RewriteEngine On
Options -Indexes

# Permitir acceso directo a assets
RewriteRule ^assets/ - [L]

# Redirigir todo lo demás a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
