<div id="sidebar">
    <ul class="nav flex-column">
        <%-- @if activeMenu == "settings" -->
        <li class="nav-item">
            <a class="nav-link active" href="./admin/settings">{admin.settings}</a>
        </li>
        <%-- @else -->
        <li class="nav-item">
            <a class="nav-link" href="./admin/settings">{admin.settings}</a>
        </li>
        <%-- @endif -->

        <%-- @if activeMenu == "all_pages" -->
        <li class="nav-item">
            <a class="nav-link active" href="./admin/pages">
                {admin.pages} <span class="badge bg-danger float-end">{pages_count}</span>
            </a>
        </li>
        <%-- @else -->
        <li class="nav-item">
            <a class="nav-link" href="./admin/pages">
                {admin.pages} <span class="badge bg-danger float-end">{pages_count}</span>
            </a>
        </li>
        <%-- @endif -->

        <%-- @if activeMenu == "all_blocks" -->
        <li class="nav-item">
            <a class="nav-link active" href="./admin/blocks">
                {admin.blocks} <span class="badge bg-danger float-end">{blocks_count}</span>
            </a>
        </li>
        <%-- @else -->
        <li class="nav-item">
            <a class="nav-link" href="./admin/blocks">
                {admin.blocks} <span class="badge bg-danger float-end">{blocks_count}</span>
            </a>
        </li>
        <%-- @endif -->
    </ul>
</div>
